@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://rsms.me/inter/inter.css');

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--background-color);
}

em {
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xlarge);
  color: var(--primary-text-color);
}

h2 {
  font-weight: var(--font-weight-bold);
  color: var(--primary-text-color);
  letter-spacing: var(--letter-spacing-h2);
}

h3 {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-large);
  color: var(--secondary-text-color);
  letter-spacing: var(--letter-spacing-h3);
}

p {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  color: var(--primary-text-color);
  letter-spacing: var(--letter-spacing-p);
}

a {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-links);
  color: var(--link-text-color);
}

:root {
  /* colors */
  --background-color: #262626;
  --background-color-play: #b0b0b0;
  --background-color-icons: #ffffff;
  --background-color-ui: #b0b0b0;
  --background-color-detail: #d4d4d4;
  --background-color-info: #a0a0a0a6;
  --background-color-listitem: #a0a0a0;
  --background-color-input: #ffffff;
  --background-color-chrome: #35363a;
  --primary-text-color: #d0d0d0;
  --secondary-text-color: #a0a0a0;
  --tertiary-text-color: #ffffff;
  --link-text-color: #68c3ff;
  --button-text-color: #5dffb1;
  --primary-accent-color: #5dffb1;
  --secondary-accent-color: #ffffff;
  --tertiary-accent-color: #ff8181;
  --quarternary-accent-color: #bdffdf;
  --accent-color-item: #262626;
  --outline-color: #ffffff1a;
  --outline-color-info: #a0a0a0a6;
  --button-color-positive: #5dffb1;
  --button-color-negative: #ff8181;
  --button-text-color: #181720;
  --overlay-detail-color: #d0d0d0;

  /* font family */
  --font-family: 'Barlow', 'system-ui', 'Inter', 'Arial', Helvetica, sans-serif;
  --font-family-mono: monospace;

  /* font size */
  --font-size-xxlarge: 1.5rem;
  --font-size-xlarge: 1.25rem;
  --font-size-large: 1rem;
  --font-size-medium: 0.875rem;
  --font-size-links: 0.8rem;
  --font-size-small: 0.75rem;

  /* font weight */
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-thin: 200;

  /* letter spacing */
  --letter-spacing-h2: auto;
  --letter-spacing-h3: -0.01em;
  --letter-spacing-p: 0em;

  /*margins*/
  --margin-header: 1rem;
  --margin-subheader: 0.5rem;
  --margin-info: 1rem;
  --margin-text: 1.5rem;
  --margin-input: 1rem;
  --margin-gap-card: 20px;
  --margin-circle: -10px;
  --margin-covers: 33%;
  --margin-cards: 3.5rem;
  --margin-indicators: 0.2rem;
  --margin-progress-time: 0.9rem;
  --margin-recommendations: 0.7rem;
  --margin-additional: 1rem;

  /*padding*/
  --padding-header: 15px;
  --padding-card: 2rem;
  --padding-infocard: 1.5rem;
  --padding-infocard-description: 50px;
  --padding-input: 1rem;
  --padding-items: 0.5rem;
  --padding-overlay: 25px;
  --padding-cards-container: 2rem;
  --padding-list: 1rem;

  /*elevation*/
  --primary-shadow: 0px 252px 71px 0px rgba(0, 0, 0, 0.00), 0px 162px 65px 0px rgba(0, 0, 0, 0.02), 0px 91px 55px 0px rgba(0, 0, 0, 0.08), 0px 40px 40px 0px rgba(0, 0, 0, 0.14), 0px 10px 22px 0px rgba(0, 0, 0, 0.16);
  --secondary-shadow: #0000001a 0px 0px 5px 0px, #0000001a 0px 0px 1px 0px;
  --primary-inner-shadow: #0000000f 0px 2px 4px 0px inset;
  --input-inner-shadow: #32325d40 0px 30px 60px -32px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -38px inset;
  --button-shadow: 0px 51px 14px 0px rgba(0, 0, 0, 0.00), 0px 33px 13px 0px rgba(0, 0, 0, 0.02), 0px 18px 11px 0px rgba(0, 0, 0, 0.07), 0px 8px 8px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
  --play-button-shadow: 0px 38px 11px 0px rgba(0, 0, 0, 0.00), 0px 24px 10px 0px rgba(0, 0, 0, 0.01), 0px 14px 8px 0px rgba(0, 0, 0, 0.05), 0px 6px 6px 0px rgba(0, 0, 0, 0.09), 0px 2px 3px 0px rgba(0, 0, 0, 0.10);
  --progress-bar-shadow: 0 1px 3px #0000001a;
  --info-card-shadow: #110c2e26 0px 48px 100px 0px;
  --options-card-shadow: 0px 126px 35px 0px rgba(0, 0, 0, 0.00), 0px 80px 32px 0px rgba(0, 0, 0, 0.03), 0px 45px 27px 0px rgba(0, 0, 0, 0.10), 0px 20px 20px 0px rgba(0, 0, 0, 0.17), 0px 5px 11px 0px rgba(0, 0, 0, 0.20);
  --list-item-shadow: 0px 51px 14px 0px rgba(0, 0, 0, 0.00), 0px 33px 13px 0px rgba(0, 0, 0, 0.02), 0px 18px 11px 0px rgba(0, 0, 0, 0.07), 0px 8px 8px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
  --drop-shadow-icons: drop-shadow(rgba(0, 0, 0, 0.18) 0px 2px 4px);
  --drop-shadow-recommendations: drop-shadow(0px 51px 14px rgba(0, 0, 0, 0.00)) drop-shadow(0px 33px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 18px 11px rgba(0, 0, 0, 0.07)) drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.12)) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14));

  /*radii*/
  --border-radius-circle: 50%;
  --border-radius-progressbar: 3.5px;
  --border-radius-thumbnail: 15px;
  --border-radius-input: 5rem;
  --border-radius-button: 5rem;
  --border-radius-large: 30px;
  --border-radius-medium: 20px;
  --border-radius-small: 5px;
}

[data-theme='light'] {
  --overlay-detail-color: #a29f8c;
  --background-color: #eeedec;
  --background-color-play: #b3b3ff;
  --background-color-ui: #b3b3ff;
  --background-color-detail: #978f7e;
  --background-color-info: #777891a6;
  --background-color-listitem: #a5a6c6;
  --background-color-input: #ffffff;
  --background-color-chrome: #35363a;
  --primary-text-color: #463000;
  --secondary-text-color: #6e5829;
  --tertiary-text-color: #181720;
  --link-text-color: #19a0fc;
  --primary-accent-color: #ffa81c;
  --secondary-accent-color: #ffffff;
  --tertiary-accent-color: #ff8181;
  --quarternary-accent-color: #bdffdf;
  --accent-color-item: #e4d9bf;
  --outline-color: #4630000f;
  --outline-color-info: #b9b9b9a6;
}