.App {
  padding: 1.5rem 0rem 1.5rem 0rem;
  background-color: var(--background-color-info);
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

html {
  max-height: 400px;
}

.search-container {
  padding-left: var(--padding-list);
  padding-right: var(--padding-list);
}

.list-container {
  font-weight: var(--font-weight-regular);
  overflow: auto;
  overscroll-behavior: contain;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-y: auto;
  overscroll-behavior-y: auto;
  flex: 1;
  overflow-y: auto;
  position: relative;
  padding: var(--padding-list);
  mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 20px,
      black calc(100% - 20px),
      transparent 100%);
}