.App {
  padding: 1.5rem 1rem 1.5rem 1rem;
  min-height: 250px;
  height: auto;
  background-color: var(--background-color-info);
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.podcast-divider {
  height: 1px;
  background-color: var(--background-color-detail);
  margin: 0.5rem 0;
  width: 100%;
}
