@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&display=swap');
@import url('https://rsms.me/inter/inter.css');

* {
  font-family: 'Barlow', 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-color: #262626;
}

button {
  width: 70px;
}

.App {
  display: flex;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  flex-direction: column;
  justify-content: start;
}

form {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
input {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -32px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -38px inset;
  border: none;
  font-size: 0.9rem;
  border-radius: 5rem;
  background: #ffffff;
  width: 70%;
  height: 2.22rem;
  padding-left: 0.85rem;
}

.items {
  text-align: center;
  margin-top: 2rem;
}

.submit,
.remove {
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  height: 100%;
  border-radius: 5rem;
  padding: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.remove {
  margin-top: 0.75rem;
  color: #ff8181;
  transition: ease-in 0.2s;
}

.submit {
  background-color: #bdffdf;
  margin-left: 5px;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  color: #d0d0d0;
  margin-top: 0.5rem;
}

h2 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #a5a5a5;
}

p {
  font-weight: 400;
  font-size: 0.9rem;
  color: #d0d0d0;
}

a {
  text-decoration: none;
  color: #19a0fc;
}
