body {
  view-timeline-name: --li-in-and-out-of-view;
  view-timeline-axis: inline;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  animation: linear adjust-opacity both;
  animation-timeline: --li-in-and-out-of-view;
}

.play-pause {
  background-color: var(--background-color-play);
  outline: 5px solid var(--secondary-accent-color);
  border-radius: var(--border-radius-circle);
  box-shadow: var(--play-button-shadow);
  position: relative;
  width: 55px;
  height: 55px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline-offset: -3px;
  animation: linear adjust-opacity-ui both;
  animation-timeline: --li-in-and-out-of-view;
}

.player-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  color: var(--background-color-icons);
  height: 25px;
  filter: var(--drop-shadow-icons);
  animation: adjust-opacity-ui linear both;
  animation-timeline: --li-in-and-out-of-view;
  -webkit-user-select: none;
  user-select: none;
}

.current-time,
.duration {
  color: var(--primary-text-color);
  font-size: var(--font-size-small);
  font-family: var(--font-family-mono);
  width: 40px;
  text-align: center;
}

.current-time {
  text-align: right;
  margin-right: var(--margin-progress-time);
}

.duration {
  text-align: left;
  margin-left: var(--margin-progress-time);
}

.progress-container {
  position: relative;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.progress-bar-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 400px;
}

.progress-bar {
  box-shadow: var(--primary-inner-shadow);
  --bar-bg: var(--background-color-ui);
  --seek-before-width: 0px;
  --seek-before-color: var(--primary-accent-color);
  --knob: var(--secondary-accent-color);
  --selectedknob: var(--secondary-accent-color);
  --right-radius: var(--border-radius-progressbar);
  --width-adjust: 1px;
  background: var(--bar-bg);
  border-radius: var(--border-radius-progressbar);
  position: relative;
  width: 22em;
  max-width: 25em;
  height: 7px;
  appearance: none;
  outline: none;
  animation: adjust-opacity-ui linear both;
  animation-timeline: --li-in-and-out-of-view;
}

.progress-bar::before {
  border-top-right-radius: var(--right-radius,
      var(--border-radius-progressbar));
  border-bottom-right-radius: var(--right-radius,
      var(--border-radius-progressbar));
  width: calc(var(--seek-before-width) + var(--width-adjust));
  border-radius: var(--border-radius-progressbar);
  background-color: var(--seek-before-color);
  content: '';
  height: 7px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
  transform: translateX(0);
}

.progress-bar::-webkit-slider-thumb {
  box-shadow: var(--progress-bar-shadow);
  background-color: var(--knob);
  border-radius: var(--border-radius-circle);
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  box-sizing: border-box;
  margin-top: 0;
  position: relative;
}

.progress-bar:active::-webkit-slider-thumb {
  background-color: var(--selectedknob);
  transform: scale(1.2);
}

.progress-bar::-moz-range-thumb {
  box-shadow: var(--progress-bar-shadow);
  border-radius: var(--border-radius-circle);
  background-color: var(--knob);
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.progress-bar:active::-moz-range-thumb {
  background-color: var(--selectedknob);
  transform: scale(1.2);
}

.progress-bar::-ms-thumb {
  background-color: var(--knob);
  box-shadow: var(--progress-bar-shadow);
  width: 15px;
  height: 15px;
  border-radius: var(--border-radius-circle);
  border: none;
  cursor: pointer;
  z-index: 3;
}

@keyframes adjust-opacity-ui {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}