body {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

body.no-scroll {
  overflow: hidden;
}

h2,
h3 {
  animation: adjust-opacity-ui linear both;
  animation-timeline: --li-in-and-out-of-view;
}

.cards {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  list-style: none;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.cards.visible {
  overflow: hidden;
  touch-action: none;
}

.cards li {
  position: relative;
  width: var(--cover-size);
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: inline-block;
  perspective: 30rem;
  flex-direction: column;
  align-items: center;
  animation: linear adjust-z-index both;
  animation-timeline: --li-in-and-out-of-view;
  view-timeline-name: --li-in-and-out-of-view;
  view-timeline-axis: inline;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.blur.visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.spacer {
  width: 0;
  height: 15vw;
  display: inline-block;
}

.cover {
  box-shadow: var(--primary-shadow);
  outline: 1px solid var(--outline-color);
  border-radius: var(--border-radius-large);
  width: 400px;
  height: 400px;
  z-index: 100;
  position: relative;
  transform: translateZ(0);
  will-change: transform;
  animation: linear adjust-opacity both;
  animation-timeline: --li-in-and-out-of-view;
  outline-offset: -1px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

.cover-mask {
  background-color: var(--background-color);
  border-radius: var(--border-radius-large);
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 90;
  pointer-events: none;
}

.cover-container {
  margin-top: var(--margin-covers);
  position: relative;
  animation: linear rotate-cover both;
  animation-timeline: --li-in-and-out-of-view;
  transform-style: preserve-3d;
}

.player-container {
  position: absolute;
  width: 100%;
  bottom: 2px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.cards.visible .cover-container {
  pointer-events: auto;
}

.visible .player-container {
  pointer-events: auto;
  z-index: 1001;
}

.header-container {
  position: absolute;
  top: -6rem;
  width: 400px;
  max-width: 400px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.podcast-title-container {
  box-sizing: border-box;
  padding-left: var(--padding-header);
  padding-right: var(--padding-header);
  display: flex;
  align-items: center;
  width: 400px;
}

.podcast-title-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.podcast-title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin: 0;
}

.podcast-episode {
  font-weight: var(--font-weight-regular);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0;
}

.indicators {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 95%;
  transition: opacity 0.3s ease;
}

.indicators.hidden {
  opacity: 0;
  pointer-events: none;
}

.indicator {
  cursor: pointer;
  box-shadow: var(--primary-inner-shadow);
  background-color: var(--background-color-ui);
  width: 10px;
  height: 10px;
  border-radius: var(--border-radius-circle);
  border: none;
  outline: none;
  margin-left: var(--margin-indicators);
  margin-right: var(--margin-indicators);
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: var(--primary-accent-color);
}

.status-indicator {
  box-shadow: var(--secondary-shadow);
  border-radius: 5px;
  margin-top: -1spx;
  width: 5px;
  height: 35px;
  flex-shrink: 0;
  outline: 2px solid;
  outline-color: color-mix(in srgb, var(--outline-color) 70%, white);
  outline-offset: -1px;
  animation: adjust-opacity-ui linear both;
  animation-timeline: --li-in-and-out-of-view;
}

@media only screen and (min-height: 720px) {
  .cards {
    padding-top: 8vh;
  }
}

@media only screen and (min-height: 800px) {
  .cards {
    padding-top: 10vh;
  }
}

@media only screen and (min-height: 900px) {
  .cards {
    padding-top: 15vh;
  }
}

@media only screen and (min-height: 1080px) {
  .cards {
    padding-top: 15vh;
  }
}