body {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

body.no-scroll {
  overflow: hidden;
}

h2 {
  animation: linear adjust-opacity both;
  animation-timeline: --li-in-and-out-of-view;
}

.cards {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  list-style: none;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.cards.visible {
  overflow: hidden;
  touch-action: none;
}

.cards li {
  position: relative;
  width: var(--cover-size);
  margin-left: var(--margin-cards);
  margin-right: var(--margin-cards);
  aspect-ratio: 1/1;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: inline-block;
  perspective: 40rem;
  flex-direction: column;
  align-items: center;
  animation: linear adjust-z-index both;
  animation-timeline: --li-in-and-out-of-view;
  view-timeline-name: --li-in-and-out-of-view;
  view-timeline-axis: inline;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.blur.visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.loader.active {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.spacer {
  width: 0;
  height: 15vw;
}

.cover {
  box-shadow: var(--primary-shadow);
  outline: 1px solid var(--outline-color);
  border-radius: var(--border-radius-large);
  width: 400px;
  height: 400px;
  z-index: 100;
  position: relative;
  transform: translateZ(0);
  will-change: transform;
  animation: linear adjust-opacity both;
  animation-timeline: --li-in-and-out-of-view;
  outline-offset: -1px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

.cover-mask {
  background-color: var(--background-color);
  border-radius: var(--border-radius-large);
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 90;
  pointer-events: none;
}

.cover-container {
  margin-top: var(--margin-covers);
  position: relative;
  animation: linear rotate-cover both;
  animation-timeline: --li-in-and-out-of-view;
  transform-style: preserve-3d;
}

.player-container {
  position: absolute;
  width: 100%;
  bottom: 2px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.cards.visible .cover-container {
  pointer-events: auto;
}

.visible .player-container {
  pointer-events: auto;
  z-index: 1001;
}

.header-container {
  position: absolute;
  top: -6rem;
  width: 400px;
  max-width: 400px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.podcast-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: normal;
}

.podcast-title {
  font-size: var(--font-size-xlarge);
  text-transform: uppercase;
  display: inline;
  line-height: 1.2;
  text-align: left;
}

.podcast-episode {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.indicators {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 95%;
}

.indicator {
  box-shadow: var(--primary-inner-shadow);
  background-color: var(--background-color-ui);
  width: 10px;
  height: 10px;
  border-radius: var(--border-radius-circle);
  border: none;
  outline: none;
  margin-left: var(--margin-indicators);
  margin-right: var(--margin-indicators);
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: var(--primary-accent-color);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes adjust-z-index {
  35% {
    z-index: 0;
  }
  50% {
    z-index: 100;
  }
  65% {
    z-index: 0;
  }
}

@keyframes adjust-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate-cover {
  35% {
    transform: translateX(0) rotateY(-35deg);
  }
  50% {
    transform: rotateY(0deg) translateZ(1em) scale(1.1);
  }
  65% {
    transform: translateX(0) rotateY(35deg);
  }
}

@media only screen and (min-width: 1024px) {
  .spacer {
    padding: 0 0;
  }
}

@media only screen and (min-width: 1280px) {
  .spacer {
    padding: 0 2vw;
  }
}

@media only screen and (min-width: 1440px) {
  .spacer {
    padding: 0 5vw;
  }
}

@media only screen and (min-width: 1680px) {
  .spacer {
    padding: 0 9vw;
  }
}

@media only screen and (min-height: 720px) {
  .cards {
    padding-top: 3vh;
  }
}

@media only screen and (min-height: 800px) {
  .cards {
    padding-top: 10vh;
  }
}

@media only screen and (min-height: 900px) {
  .cards {
    padding-top: 15vh;
  }
}

@media only screen and (min-height: 1080px) {
  .cards {
    padding-top: 15vh;
  }
}
