@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&display=swap');
@import url('https://rsms.me/inter/inter.css');

* {
  font-family: 'Barlow', 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.blur.visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

h1 {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 24px;
  color: #d0d0d0;
}

h2 {
  margin: 0;
  white-space: normal;
  font-size: 20px;
  color: #d0d0d0;
  text-align: center;
  animation: linear adjust-opacity both;
  animation-timeline: --li-in-and-out-of-view;
}

p {
  font-size: 14px;
  color: #19a0fc;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.content {
  text-align: center;
}

.cards {
  list-style: none;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  max-width: calc(var(--cover-size) * 6);
  max-height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding-top: 5rem;
}

.loader.active {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cards.visible {
  overflow: hidden;
}

.cards::-webkit-scrollbar {
  display: none;
}

.cards li {
  display: inline-block;
  width: var(--cover-size);
  max-width: 700px;
  max-height: 700px;
  aspect-ratio: 1/1;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.spacer {
  width: 0;
  height: 15vw;
}

.cover {
  width: 300px;
  height: 300px;
  margin-top: 5.5rem;
  box-shadow: inset 0 0 0 1px #000;
  border-radius: 20px;
}

.player-container {
  height: 100vh;
}

.cards li {
  view-timeline-name: --li-in-and-out-of-view;
  view-timeline-axis: inline;
}

.cards li {
  position: relative;
  animation: linear adjust-z-index both;
  animation-timeline: --li-in-and-out-of-view;
  perspective: 40rem;
  margin: 0 2rem;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  width: var(--cover-size);
  max-width: 700px;
  max-height: 700px;
}

.cards li > img:first-of-type {
  margin-left: 7.5rem;
}

.cards li > img:last-of-type {
  margin-right: 7.5rem;
}

.cards li > img {
  animation: linear rotate-cover both;
  animation-timeline: --li-in-and-out-of-view;
}

.podcast-episode {
  top: -6rem;
  position: absolute;
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.podcast-episode h2 {
  font-weight: 370;
  text-transform: uppercase;
  max-width: 70%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.2;
}

.indicators {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  top: 95%;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #d0d0d0;
  margin: 0 0.2rem;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #5dffb1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes adjust-z-index {
  35% {
    z-index: 0;
  }

  50% {
    z-index: 100;
  }

  65% {
    z-index: 0;
  }
}

@keyframes adjust-opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate-cover {
  35% {
    transform: translateX(0) rotateY(-35deg);
  }

  50% {
    transform: rotateY(0deg) translateZ(1em) scale(1.5);
  }

  65% {
    transform: translateX(0) rotateY(35deg);
  }
}

@media only screen and (min-width: 1024px) {
  .spacer {
    padding: 0 0;
  }
}

@media only screen and (min-width: 1280px) {
  .spacer {
    padding: 0 2vw;
  }
}

@media only screen and (min-width: 1440px) {
  .spacer {
    padding: 0 5vw;
  }
}

@media only screen and (min-width: 1680px) {
  .spacer {
    padding: 0 9vw;
  }
}

@media only screen and (min-height: 720px) {
  .cards {
    margin-top: 3vh;
  }
}

@media only screen and (min-height: 800px) {
  .cards {
    margin-top: 10vh;
  }
}

@media only screen and (min-height: 900px) {
  .cards {
    margin-top: 12vh;
  }
}

@media only screen and (min-height: 1080px) {
  .cards {
    margin-top: 15vh;
  }
}
