@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&display=swap');
@import url('https://rsms.me/inter/inter.css');

* {
  font-family: 'Barlow', 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #262626;
}

.cards {
  width: auto;
  height: 100%;
}

h1 {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 24px;
  color: #d0d0d0;
}

h2 {
  max-width: 300px;
  font-size: 18px;
  margin-top: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  color: #d0d0d0;
}

p {
  font-size: 14px;
  color: #19a0fc;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.content {
  text-align: center;
}

.podcast-view {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #19a0fc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.podcast-details img {
  max-width: 500px;
  border-radius: 8px;
}

.cards {
  list-style: none;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  max-width: calc(var(--cover-size) * 6);
  max-height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards::-webkit-scrollbar {
  display: none;
}

.cards li {
  display: inline-block;
  width: var(--cover-size);
  aspect-ratio: 1;
  scroll-snap-align: center;
}

.spacer {
  width: 300px;
  height: 300px;
  padding: 0 4rem;
}

.cards li img {
  width: 300px;
  height: 300px;
  padding: 5rem;
  margin: 5rem;
  margin-top: 10rem;
}

.cards li {
  view-timeline-name: --li-in-and-out-of-view;
  view-timeline-axis: inline;
}

@keyframes adjust-z-index {
  35% {
    z-index: 1;
    opacity: 0.5;
  }

  50% {
    z-index: 100;
    opacity: 1;
  }

  65% {
    z-index: 1;
    opacity: 0.5;
  }
}

@keyframes rotate-cover {
  35% {
    transform: translateX(0) rotateY(-35deg);
  }

  50% {
    transform: rotateY(0deg) translateZ(1em) scale(1.5);
  }

  65% {
    transform: translateX(0) rotateY(35deg);
  }
}

.cards li {
  animation: linear adjust-z-index both;
  animation-timeline: --li-in-and-out-of-view;
  perspective: 40rem;
  will-change: z-index;
}

.cards li>img:first-of-type {
  margin-left: 5rem;
}

.cards li>img:last-of-type {
  margin-right: 5rem;
}

.cards li>img {
  animation: linear rotate-cover both;
  animation-timeline: --li-in-and-out-of-view;
}

.cards li>img:hover {
  cursor: pointer;
}