.info-card {
  background-color: var(--background-color-info);
  outline: 1px solid var(--outline-color-info);
  box-shadow: var(--info-card-shadow);
  border-radius: var(--border-radius-medium);
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  backdrop-filter: blur(12px);
  overflow: hidden;
  touch-action: none;
  will-change: transform, opacity, height;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: grab;
  animation: linear adjust-opacity-ui both;
  animation-timeline: --li-in-and-out-of-view;
  z-index: 10 !important;
  transform: translateZ(-1px);
  outline-offset: -1px;
}

.info-card *:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.card-handle {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 5px;
  height: 50px;
  background: var(--secondary-accent-color);
  border-radius: var(--border-radius-small);
  z-index: 15;
}

.info-card-content {
  padding: var(--padding-infocard);
  height: 100%;
  white-space: pre-wrap;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-color: #00000000 transparent;
}

.info-row-container {
  margin-bottom: var(--margin-header);
}

.info-row {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.info-item {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.info-value,
.info-label {
  font-size: var(--font-size-small);
  color: var(--tertiary-text-color);
}

.episode-title {
  font-size: var(--font-size-large);
  color: var(--tertiary-text-color);
  margin-bottom: var(--margin-header);
  text-transform: uppercase;
}

.episode-description p {
  color: var(--tertiary-text-color);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  padding-bottom: var(--padding-infocard-description);
  line-height: 1.4;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
