.info-card {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  background-color: var(--background-color-info);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  overflow: hidden;
  touch-action: none;
  will-change: transform, opacity, height;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
  animation: linear adjust-opacity-ui both;
  animation-timeline: --li-in-and-out-of-view;
  z-index: 10 !important;
  transform: translateZ(-1px);
  cursor: grab;
  outline: 1px solid var(--outline-color-info);
  outline-offset: -1px;
}

.info-card *:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.card-handle {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 5px;
  height: 50px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  z-index: 15;
}

.info-card-content {
  margin: 0;
  padding: 25px;
  height: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0) transparent;
}

.info-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 5px;
}

.info-item {
  display: flex;
  align-items: baseline;
  margin-right: 25px;
}

.info-value,
.info-label {
  font-size: var(--font-size-small);
  color: var(--tertiary-text-color);
  margin-right: 2px;
}

.episode-title {
  font-size: var(--font-size-large);
  color: var(--tertiary-text-color);
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.episode-description p {
  color: var(--tertiary-text-color);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  margin-top: 15px;
  line-height: 1.4;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
