.info-card {
  background: linear-gradient(to bottom,
      rgb(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.2) 40%,
      rgba(0, 0, 0, 0.05) 100%),
    var(--background-color-info);
  outline: 1px solid var(--outline-color-info);
  outline-offset: -1px;
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius-medium);
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  touch-action: none;
  will-change: transform, opacity, height;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: grab;
  animation: linear adjust-opacity-ui both;
  animation-timeline: --li-in-and-out-of-view;
  z-index: 10 !important;
  transform: translateZ(-1px);
}

.info-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.3;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  mix-blend-mode: multiply;
}

.info-card-content {
  position: relative;
  z-index: 2;
}

.info-card *:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.card-handle {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 5px;
  height: 50px;
  background: var(--secondary-accent-color);
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.info-card-content {
  padding: var(--padding-infocard);
  height: 100%;
  white-space: pre-wrap;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-color: #00000000 transparent;
}

.info-row-container {
  margin-bottom: var(--margin-header);
}

.info-row {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.info-item {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.info-value,
.info-label {
  font-size: var(--font-size-small);
  color: var(--tertiary-text-color);
}

.episode-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  color: var(--tertiary-text-color);
  margin-bottom: var(--margin-header);
  text-transform: uppercase;
}

.episode-description p {
  color: var(--tertiary-text-color);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  padding-bottom: var(--padding-infocard-description);
  line-height: 1.5;
  text-align: left;
  overflow-wrap: break-word;
  word-break: normal;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}