* {
  font-family: 'Barlow', 'system-ui', 'Inter', 'Arial', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.info-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  background-color: rgba(160, 160, 160, 0.65);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  overflow: hidden;
  touch-action: none;
  will-change: transform, opacity, height;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
  z-index: 10;
  animation: linear adjust-opacity-ui both;
  animation-timeline: --li-in-and-out-of-view;
}

.info-card *:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.info-card-content {
  margin: 0;
  padding: 25px;
  height: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0) transparent;
}

.info-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 5px;
}

.info-item {
  display: flex;
  align-items: baseline;
  margin-right: 25px;
}

.info-value,
.info-label {
  font-size: 10px;
  color: #ffffff;
  margin-right: 2px;
}

.cover:hover + .info-card {
  opacity: 1;
}

.episode-title {
  text-transform: uppercase;
  margin: 0 0 12px 0;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}

.episode-description {
  margin-top: 15px;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.4;
  color: #ffffff;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.info-card::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 5px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
