.feed {
  display: flex;
  left: 10;
  right: 10;
  bottom: 10;
}

.feed-item {
  justify-items: space-between;
  display: flex;
  text-align: center;
  max-width: 800px;
}

.hello {
  margin-right: 6rem;
  margin-top: 4rem;
}
