.podcast-recommendations {
  width: 100%;
}

.podcast-recommendations-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.podcast-recommendation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-medium);
  transition: background-color 0.2s ease-in-out;
  flex: 1 1 auto;
  min-width: 0;
  box-sizing: border-box;
}

.podcast-recommendation-thumbnail {
  border-radius: var(--border-radius-thumbnail);
  width: 150px;
  height: 150px;
  object-fit: cover;
}
