.podcast-recommendations {
  width: 100%;
}

.podcast-recommendations-grid {
  margin-bottom: var(--margin-recommendations);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.podcast-recommendation-item {
  cursor: pointer;
}

.recommendations-container {
  margin-top: var(--margin-additional);
}

.podcast-recommendation-thumbnail {
  filter: var(--drop-shadow-recommendations);
  outline: 3px solid var(--outline-color);
  outline-offset: -3px;
  width: 75px;
  height: 75px;
  border-radius: var(--border-radius-medium);
  object-fit: cover;
  cursor: pointer;
}