.podcast-recommendations {
  width: 100%;
}

.podcast-recommendations-grid {
  margin-bottom: var(--margin-recommendations);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  min-height: 75px;
}

.podcast-recommendation-item {
  cursor: pointer;
  width: 75px;
  height: 75px;
  border-radius: var(--border-radius-medium);
}

.recommendations-container {
  margin-top: var(--margin-additional);
}

.podcast-recommendation-thumbnail {
  filter: var(--drop-shadow-recommendations);
  outline: 3px solid var(--outline-color);
  outline-offset: -3px;
  width: 75px;
  height: 75px;
  border-radius: var(--border-radius-medium);
  object-fit: cover;
  cursor: pointer;
}

/* Loading state styles */
.podcast-recommendation-placeholder {
  width: 75px;
  height: 75px;
  border-radius: var(--border-radius-medium);
  background: var(--background-color-info);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.6;
  }
}