.podcast-items {
  box-shadow: var(--primary-shadow);
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: var(--padding-items);
  background-color: var(--background-color-info);
  border-radius: var(--border-radius-medium);
  transition: background-color 0.2s ease-in-out;
  max-width: 100%;
  cursor: grab;
  user-select: none;
  transition: box-shadow 0.3s ease, background-color 0.2s ease-in-out;
}

.podcast-items:hover {
  background-color: var(--accent-color-item);
}

.podcast-items:active {
  cursor: grabbing;
}

.podcast-item-thumbnail {
  outline: 2px solid var(--outline-color);
  outline-offset: -2px;
  border-radius: var(--border-radius-thumbnail);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.podcast-item-title {
  color: var(--tertiary-text-color);
  font-weight: var(--font-weight-regular);
  flex: 1;
  display: block;
  height: 50px;
  line-height: 50px;
}

.podcast-remove-btn {
  flex-shrink: 0;
  width: 5rem;
  height: 2.22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: var(--font-size-medium);
  color: var(--tertiary-accent-color);
  /* background: linear-gradient(0deg,
      var(--tertiary-accent-color) 0%,
      white 100%); */
  box-shadow: var(--button-shadow);
  border-radius: var(--border-radius-button);
  border: none;
  cursor: pointer;
  transition: ease-in 0.15s;
  font-weight: var(--font-weight-bold);
}

.podcast-remove-btn:hover {
  background-color: var(--tertiary-accent-color);
  color: var(--secondary-accent-color);
}

.podcast-items-container {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  padding-top: var(--padding-list);
  padding-bottom: var(--padding-list);
  height: auto;
  overflow: visible;
}

.podcast-item-wrapper {
  width: 100%;
  touch-action: none;
  will-change: transform, box-shadow;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.podcast-truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.podcast-items-container::after {
  content: '';
  display: block;
  pointer-events: none;

}

.podcast-items,
.podcast-item-wrapper {
  will-change: transform;
}

.podcast-item-wrapper:active .podcast-items {
  box-shadow: inset 0 0 0 2px var(--primary-accent-color);
}

.podcast-list-overflow {
  padding: 10px 0;
  overflow: auto;
  overscroll-behavior: contain;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@keyframes drop-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--primary-accent-color-rgb), 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(var(--primary-accent-color-rgb), 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(var(--primary-accent-color-rgb), 0);
  }
}

.podcast-list-container {
  width: 100%;
  padding-bottom: var(--padding-items);
  background-color: var(--background-color-info);
}

.options-list-overflow .podcast-list-overflow {
  padding-top: 1rem;
  overflow-y: visible;
}

.podcast-list-overflow .podcast-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}