.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
  max-width: 820px;
  padding-bottom: var(--padding-cards-container);
}

.left-card {
  margin-right: var(--margin-gap-card);
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: calc(50% - 10px);
}

.left-card .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 540px;
  flex: 1;
  max-width: calc(50% - 10px);
}

.header {
  margin-bottom: var(--margin-header);
}

.sub-header {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--secondary-text-color);
  margin-bottom: var(--margin-subheader);
}

.instructions {
  margin-bottom: var(--margin-text);
}

.card {
  box-shadow: var(--primary-shadow);
  background-color: var(--background-color-info);
  border-radius: var(--border-radius-large);
  flex-shrink: 0;
}

.right-card {
  height: calc(50% - 10px);
}

.container {
  padding: var(--padding-card);
}

.right-card .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-card .overflow {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 260px;
}

.greets {
  text-align: center;
  max-width: 100%;
}

.line {
  background: var(--background-color-detail);
  height: 1px;
}

.overflow {
  overflow: auto;
  overscroll-behavior: contain;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-y: auto;
  overscroll-behavior-y: auto;
}

.podcast-truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left-card .overflow {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 330px;
  overflow-y: auto;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20px,
    black calc(100% - 20px),
    transparent 100%
  );
}
