@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&display=swap');
@import url('https://rsms.me/inter/inter.css');

* {
  font-family: 'Barlow', 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-color: #35363a;
}

button {
  width: 70px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.head {
  text-align: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  background-color: #262626;
  border-radius: 1.5rem;
  max-width: 700px;
  height: 600px;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 2rem;
}

form {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

input {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -22px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -28px inset;
  border: none;
  font-size: 0.9rem;
  border-radius: 5rem;
  background: #ffffff;
  width: 50%;
  height: 2.22rem;
  padding-left: 0.85rem;
}

.items {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
}

.submit,
.remove {
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  height: 100%;
  border-radius: 5rem;
  padding: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.remove {
  color: #ff8181;
}

.submit {
  background-color: #bdffdf;
  margin-left: 5px;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  color: #d0d0d0;
  margin-top: 0.5rem;
}

h2 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #a5a5a5;
}

p {
  font-weight: 400;
  font-size: 0.9rem;
  color: #d0d0d0;
}

a {
  text-decoration: none;
  color: #19a0fc;
}

img {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.instructions {
  font-size: 0.9rem;
  margin-top: 2rem;
  max-width: 400px;
  margin-bottom: 2.5rem;
}

.greets {
  margin-top: 1.2rem;
  text-align: center;
}

.spacer {
  width: 400px;
}

.line {
  width: 400px;
  height: 1px;
  background: #5a5a5a;
}

.signature {
  position: absolute;
  margin-top: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 0.75rem;
}

.overflow {
  overflow: auto;
  overscroll-behavior: contain;
  height: 250px;
  padding-bottom: 2rem;
}

.form {
  margin-bottom: 1rem;
}