.podcast-form {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.podcast-input {
  font-size: var(--font-size-medium);
  background: var(--background-color-input);
  box-shadow: var(--input-inner-shadow);
  border-radius: var(--border-radius-input);
  padding-left: var(--padding-input);
  outline: none;
  border: none;
  width: 100%;
  height: 2.22rem;
}

.search-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: var(--padding-items);
  background-color: var(--background-color-info);
  transition: background-color 0.2s ease-in-out;
  max-width: 100%;
  user-select: none;
  transition: box-shadow 0.3s ease, background-color 0.2s ease-in-out;
  cursor: default;
}

.search-items:hover {
  background-color: var(--accent-color-item);
}

.search-item-thumbnail {
  outline: 2px solid var(--outline-color);
  outline-offset: -2px;
  border-radius: var(--border-radius-thumbnail);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.search-item-title {
  color: var(--tertiary-text-color);
  font-weight: var(--font-weight-regular);
  flex: 1;
  display: block;
  height: 50px;
  line-height: 50px;
}

.search-add-btn {
  flex-shrink: 0;
  width: 5rem;
  height: 2.22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--background-color-info);
  box-shadow: var(--button-shadow);
  border-radius: var(--border-radius-button);
  border: none;
  cursor: pointer;
  transition: ease-in 0.15s;
}

.search-add-btn:hover {
  background-color: var(--button-color-positive);
  color: var(--secondary-accent-color);

}

.podcast-search-container {
  position: relative;
}

.search-results {
  background-color: var(--background-color-info);
  box-shadow: var(--list-item-shadow);
  border-radius: var(--border-radius-medium);
  backdrop-filter: blur(12px);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  margin-top: var(--margin-input);
}

.search-result-item {
  cursor: pointer;
}

.search-result-item:hover {
  background-color: var(--background-color-detail);
}