.onboarding {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.instructions {
  max-width: 700px;
  line-height: 2;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-large);
  color: var(--primary-text-color);
  margin-top: 1.2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.textbox {
  margin-left: 2rem;
}

.logo-onboarding {
  max-width: 10rem;
  height: auto;
  margin: 0;
}

.head-onboarding {
  margin-top: 0;
  max-width: 1000px;
}

.container {
  margin: 0;
  display: flex;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
